.bloop
.bsp
.jvm-opts
.mill-jvm-opts
.metals/
.scala3-bsp-semantic-ls/
.zed/
.vscode/
.envrc
.direnv/
.idea/
.opencode/
.scala-build/
__pycache__/
.codex
.humanize/
.mtf/

out/
result*

*.vcd
*.fst
*.fsdb
*.log

syntheke/demo/simprobe/target/
syntheke/demo/sim/target/

syntheke/build*/
